body{
    margin: 0 auto;
    padding: 0;
    background-color: rgb(28, 15, 77);
    color: antiquewhite;
    display: flex;
    align-items: start;
}

img{
    width: 928px;
    height: 480px;
}

.container{
    justify-content: center;
    align-items: center;
}

a{
    color: antiquewhite;
}

a:hover{
    color: rgb(229, 79, 10);
}